<!doctype html>
<html>
<head>
    <title>OAuth 2.0 demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:50px; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1>OAuth 2.0 demo</h1>
        <h3><%= api.provider %> api explorer</h3><br>

        <!-- <h4><%= api.provider %></h4> -->
        <div class="">
	        <form>
	        	<div class="input-group col-md-10 ">
				  <span class="input-group-addon" id="basic-addon3"> GET: </span>
				  <input type="text" class="form-control" id="endpoint" aria-describedby="basic-addon3" value="https://www.googleapis.com/oauth2/v2/userinfo">
				</div>
	        	<button type="button" class="btn btn-success col-md-2" name="Go" onclick="callapi();">Query</button>
	        </form>
	        <br><br><br>
	        <div class="form-group col-md-12 text-left">
			  <label for="comment">Response:</label>
			  <textarea class="form-control" rows="12" id="response"></textarea>
			</div>
    	</div>
    </div>
    <button class="btn btn-link" type="button" name="home" onclick='location.href="/"'>Home</button>
    
</div>
</body>

<script>

function callapi() {
// GET /drive/v2/files HTTP/1.1
// Authorization: Bearer 1/fFBGRNJru1FQd44AzqT3Zg
// Host: googleapis.com

    var endpoint = document.getElementById('endpoint').value;
    var responsebox = document.getElementById('response');

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            responsebox.value = (xhr.responseText);
        }
    }

    xhr.open('GET', endpoint, true);
    xhr.setRequestHeader('Authorization', 'Bearer <%=api.access_token%>');

    xhr.send(null);


}
</script>

</html>
