<!doctype html>
<html>
<head>
    <title>OAuth 2.0 demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:50px; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1>OAuth 2.0 demo</h1>
        <h3>Create API provider</h3>
        <br>

        <form method="post" action="/providercreated">
            <input type="text" class="form-control" name="provider" value="provider"></input><br>
            <input type="text" class="form-control" name="authorization_URI" value="authorization_URI"></input><br>
            <input type="text" class="form-control" name="access_Token_URI" value="access_Token_URI"></input><br>
            <input type="text" class="form-control" name="client_id" value="client_id"></input><br>
            <input type="text" class="form-control" name="client_secret" value="client_secret"></input><br>
            <input type="scope" class="form-control" name="scope" value="client_id"></input><br><br>

            <button class="btn btn-success" type="submit" name="submit">Create</button>
            <button class="btn btn-default" type="button" name="cancel" onclick='location.href="/"'>Cancel</button>
        </form>
    </div>

</div>
</body>
</html>
