<!doctype html>
<html>
<head>
    <title>OAuth 2.0 demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:50px; }
        table {
		    table-layout: fixed;
		    word-wrap: break-word;
		}
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1>OAuth 2.0 demo</h1>
		<br><br>
    </div>

	        <table class="table table-hover table-responsive">
	        	<thead>
		        	<tr>
		        		<th class="col-md-2">
		        			API provider
		        		</th>
		        		<th class="col-md-8">
		        			Access token
		        		</th>
		        		<th class="col-md-2">
		        		</th>
		        	</tr>
	        	</thead>
	        	<% for (var i=0; i<apis.length; i++){ %>
	        	<tr>
	        		<td>
	        			<a href="/apiprovider?id=<%= apis[i]._id %>"><%= apis[i].provider %></a>
	        		</td>
	        		<td>
	        			<%= apis[i].access_token %>
	        		</td>
	        		<td>
	        			<a href="/apiexplorer?id=<%= apis[i]._id %> ">API explorer</a>
	        		</td>
	        	</tr> 
	        	<% } %>
	        </table>
	        <button class="btn btn-primary" type="button" name="create" onclick='location.href="/create"'>Setup API provider</button>
	</div>
</div>
</body>
</html>
