<h1>Login</h1>
<form ng-submit="login()">
  <p>
    <input type="text" placeholder="Email" ng-model="user.username" />
  </p>
  <p>
    <input type="password" placeholder="Password" ng-model="user.password" /><br/>
  </p>
  <p>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </p>
  <!-- <i>username: admin<br/>password: admin</i> -->
</form>

Or login with <a href="/auth/google">Google</a> <a href="/auth/twitter">Twitter</a> <a href="/auth/github">Github</a>

<h3>Not a user? <a href="#/signup">Sign up</a></h3>
