<h1>Sign up</h1>

<form ng-submit="signup()">
  <p>
    <label class="control-label">First name</label>
    <input type="text" placeholder="John" ng-model="user.firstname" />
  </p>
  <p>
    <label class="control-label">Last name</label>
    <input type="text" placeholder="Doe" ng-model="user.firstname" />
  </p>
  <p>
    <label class="control-label">Email address</label>
    <input type="text" placeholder="johndoe@example.com" ng-model="user.email" />
  </p>
  <p>
    <label class="control-label">Password</label>
    <input type="password" placeholder="Password" ng-model="user.password1" />
  </p>
  <p>
    <label class="control-label">Password again</label>
    <input type="password" placeholder="Password" ng-model="user.password2" />
  </p>
  <p>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </p>
</form>

Or signup with <a href="/auth/google">Google</a> <a href="/auth/twitter">Twitter</a> <a href="/auth/github">Github</a>


<h3>Already signed up? <a href="#/login">Sign in</a></h3>