body {
	background-color: rgba(0, 0, 0, 0.08);
	/*background-image: url("/images/4866087055_c0bce09ea0_b.jpg");
	background-size:cover;*/
}

.menu-icon {
	fill: white;
}

.login-box {
	padding-top: 2em;
	padding-bottom: 2em;
}

.menu-toolbar {
	/*background-color:rgba(63, 81, 181, 0.25) !important;*/
}